language: scala
services:
  - docker
scala:
   - 2.11.11
cache:
  directories:
    - /react-seed/node_modules
env:
  global:
    - DOCKER_IMAGE_NAME="test-play-framework"
    - K8S_DEPLOYMENT_NAME="test-app"
    - NODE_ENV = production
before_install:
  - nvm install 6.11.0
  - npm i -g npm@3.10.10
install:
  - cd react-seed && npm install
  - cd ../play-seed && sbt compile
before_script:
    - docker login -u "${DOCKER_USERNAME}" -p "${DOCKER_PASSWORD}"
script:
  - cd ../react-seed && npm run build
  - cd ../play-seed && sbt dist
after_script:
    - docker build -t ${DOCKER_USERNAME}/${DOCKER_IMAGE_NAME}:${TRAVIS_BUILD_ID} .
    - docker push ${DOCKER_USERNAME}/${DOCKER_IMAGE_NAME}:${TRAVIS_BUILD_ID}
    - docker tag ${DOCKER_USERNAME}/${DOCKER_IMAGE_NAME}:${TRAVIS_BUILD_ID} ${DOCKER_USERNAME}/${DOCKER_IMAGE_NAME}:latest
    - docker push ${DOCKER_USERNAME}/${DOCKER_IMAGE_NAME}:latest
    - sed -i -e 's|KUBE_CA_CERT|'"${KUBE_CA_CERT}"'|g' kubeconfig
    - sed -i -e 's|KUBE_ENDPOINT|'"${KUBE_ENDPOINT}"'|g' kubeconfig
    - sed -i -e 's|KUBE_ADMIN_CERT|'"${KUBE_ADMIN_CERT}"'|g' kubeconfig
    - sed -i -e 's|KUBE_ADMIN_KEY|'"${KUBE_ADMIN_KEY}"'|g' kubeconfig
    - sed -i -e 's|KUBE_USERNAME|'"${KUBE_USERNAME}"'|g' kubeconfig
    - docker run -v ${TRAVIS_BUILD_DIR}:/kube smesch/kubectl kubectl --kubeconfig /kube/kubeconfig set image deployment/${K8S_DEPLOYMENT_NAME} ${K8S_DEPLOYMENT_NAME}=${DOCKER_USERNAME}/${DOCKER_IMAGE_NAME}:$TRAVIS_BUILD_ID
branches:
  only:
  - master
  - development